<div class="friends-list">
  <mat-toolbar color="primary">
    Friends List
  </mat-toolbar>
  <div class="basic-container">
    <mat-grid-list cols="1" rowHeight="70px">
      <mat-grid-tile *ngFor="let friend of friendsList">
        <mat-card [style.width]="'100%'">
          <div fxLayout="row">
            <div fxFlex="10">
              <mat-icon>perm_identity</mat-icon>
            </div>

            <div fxFlex fxFlexAlign="center">
              <div fxLayout="row">{{ friend.username }}</div>
            </div>

            <div fxFlex="10px" fxFlexAlign="center">
              <button
                class="options-button"
                mat-icon-button
                [matMenuTriggerFor]="appMenu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #appMenu="matMenu" xPosition="after">
                <button mat-menu-item (click)="removeFriend(friend._id)">
                  Remover Amigo
                </button>
              </mat-menu>
            </div>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
