div {
  border-radius: 5px;
  background-color: #d75b5a;
  padding: 20px;
  width: 500px;
  align-self: center;
}

h2 {
  text-align: center;
  border-radius: 5px;

  margin: 0 auto;
  align-self: center;
  color: white;
  background-color: black;
  padding: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-right: 5px;
  background-color: #ffffff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
label {
  float: left;
  width: 10em;
  margin-right: 1em;
}

.login {
  width: 50%;
  margin: 0 auto;
}
.btn-group {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.btn-group button {
  width: 50%;
  background-color: black; /* Green background */
  border: 1px solid #d75b5a; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #ccc;
}
