<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> <h2>Sign In</h2></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="login">
      <label> Username:</label>
      <input
        [(ngModel)]="userData.username"
        type="text"
        placeholder=" username"
      />
      <br />
      <label>Password:</label>
      <input
        [(ngModel)]="userData.password"
        type="password"
        placeholder="password"
      />
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button id="sign-in-button" (click)="login()">Sign In</button>
  </mat-card-actions>
  <mat-card-footer>
    <p style="color: white;">
      Not Registered Yet? <a href="http://www.google.pt"> Sign Up</a>
    </p>
  </mat-card-footer>
</mat-card>
