.spacer {
    flex: 1 1 auto;
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#111;
  }

  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .sidnave{
    width: 150px;
    height: 100%;
    background-color: #111;
    color: #111;
   
  }
  .mat-nav-list{
    fill: #000;
     overflow-x: hidden;
   
  }
  .mat-list-item{
    color: white;
    margin-left: 10px;
    align-self: center;
    margin-top: 30px;
  }
  
  mat-sidenav a{
    overflow-x: hidden;
  }
  mat-sidenav a mat-icon{
    margin: 5px;
  }
  .cor{
    background-color: #111;
    color: #000;
  }
  .titulo{
    color: white;
   
  }